<div id="main" class="content container">
    <div class="table-header-cont">
        <div class="pull-left">
            <h5 class="page-header pull-left">RMA Workflow</h5>
            <!-- <ul class="table-actions pull-left list-inline">
                <li>
                    <a href="javascript:void(0);" ng-click="addAAA_setup()">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Add
                    </a>
                </li>
                
            </ul> -->
        </div>
    </div>
    <div class="content container">
        <div class="col-sm-6">
            <div class="search-cont table-header-cont">
                <input type="text" class="form-control" title="Search"
                    data-ng-model="switch.reqData.old_serial_num" placeholder="Switch Serial Number">
                <i class="glyphicon glyphicon-search"></i>
            </div>
            <button class="btn btn-raised btn-primary"
                style="margin-top: 8px; margin-left: 80px;"
                ng-hide="action == 'view'" data-ng-disabled="setupForm.$invalid"
                data-ng-click="searchSwitch()">
                Search Switch
            </button>
        </div>
        <div class="col-sm-6" data-ng-if="switch.availableData.serial_number">
            <div class="search-cont table-header-cont">
                <input type="text" class="form-control" title="Search"
                    data-ng-model="switch.reqData.new_serial_num" placeholder="New Serial Number">
                <i class="glyphicon glyphicon-search"></i>
            </div>
            <button class="btn btn-raised btn-primary"
                style="margin-top: 8px; margin-left: 80px;"
                ng-hide="action == 'view'" data-ng-disabled="setupForm.$invalid"
                data-ng-click="warnReplace()">
                Replace Switch
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!-- <th width="2%" class="hide">
                            <input type="checkbox" class="form-control chk chk-trans">
                        </th> -->
                        <th data-ng-if="switch.availableData.switch_name">Switch Name</th>
                        <th data-ng-if="switch.availableData.boot_status">Boot Status</th>
                        <th data-ng-if="switch.availableData.serial_number">Serial Number</th>
                        <th data-ng-if="switch.availableData.fabric_name">Fabric Name</th>
                        <th data-ng-if="switch.availableData.discovery_rule">Discovery Rule</th>
                        <th data-ng-if="switch.availableData.match_type">Match Type</th>
                        <th data-ng-if="switch.availableData.rule_id">Rule ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-ng-if="switch.availableData.switch_name">{{switch.availableData.switch_name}}</td>
                        <td data-ng-if="switch.availableData.boot_status">{{switch.availableData.boot_status}}</td>
                        <td data-ng-if="switch.availableData.serial_number">{{switch.availableData.serial_number}}</td>
                        <td data-ng-if="switch.availableData.fabric_name">{{switch.availableData.fabric_name}}</td>
                        <td data-ng-if="switch.availableData.discovery_rule">{{switch.availableData.discovery_rule}}</td>
                        <td data-ng-if="switch.availableData.match_type">{{switch.availableData.match_type}}</td>
                        <td data-ng-if="switch.availableData.rule_id">{{switch.availableData.rule_id}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>