<div id="main" class="content container">
    <div class="table-header-cont">
        <div class="pull-left">
            <h5 class="page-header pull-left">Switches ({{tableParams.total()}})</h5>
            <ul class="table-actions pull-left list-inline">
                <li>
                    <a href="javascript:void(0);" ng-click="addSwitches()">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Add
                    </a>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <div class="search-cont">
                <input type="search" class="form-control" title="Search" ng-model="searchKeyword" data-toggle="tooltip" placeholder="Search">
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" ng-table="tableParams">
            <thead>
                <tr>
                    <th width="2%" class="hide">
                        <input type="checkbox" class="form-control chk chk-trans">
                    </th>
                    <th width="2%">#</th>
                    <th class="sortable" 
                    ng-class="{
                        'sort-asc': tableParams.isSortBy('name', 'asc'),
                        'sort-desc': tableParams.isSortBy('name', 'desc')
                    }"
                    ng-click="tableParams.sorting({'name' : tableParams.isSortBy('name', 'asc') ? 'desc' : 'asc'})">Model Name</th>
                    <th>Base Model</th>
                    <th class="sortable" 
                    ng-class="{
                        'sort-asc': tableParams.isSortBy('switch_data.tiers', 'asc'),
                        'sort-desc': tableParams.isSortBy('switch_data.tiers', 'desc')
                    }"
                    ng-click="tableParams.sorting({'switch_data.tiers' : tableParams.isSortBy('switch_data.tiers', 'asc') ? 'desc' : 'asc'})">Switch Role</th>
                    <th class="sortable" 
                    ng-class="{
                        'sort-asc': tableParams.isSortBy('switch_info[\'1/10G\']', 'asc'),
                        'sort-desc': tableParams.isSortBy('switch_info[\'1/10G\']', 'desc')
                    }"
                    ng-click="tableParams.sorting({'switch_info[\'1/10G\']' : tableParams.isSortBy('switch_info[\'1/10G\']', 'asc') ? 'desc' : 'asc'})">1/10G</th>
                    <th class="sortable" 
                    ng-class="{
                        'sort-asc': tableParams.isSortBy('switch_info[\'40G\']', 'asc'),
                        'sort-desc': tableParams.isSortBy('switch_info[\'40G\']', 'desc')
                    }"
                    ng-click="tableParams.sorting({'switch_info[\'40G\']' : tableParams.isSortBy('switch_info[\'40G\']', 'asc') ? 'desc' : 'asc'})">40G</th>
                    <th class="sortable" 
                    ng-class="{
                        'sort-asc': tableParams.isSortBy('switch_info[\'100G\']', 'asc'),
                        'sort-desc': tableParams.isSortBy('switch_info[\'100G\']', 'desc')
                    }"
                    ng-click="tableParams.sorting({'switch_info[\'100G\']' : tableParams.isSortBy('switch_info[\'100G\']', 'asc') ? 'desc' : 'asc'})">100G</th>
                    <th>Uplink Ports</th>
                    <th>Downlink Ports</th>
                    <th class="sortable" 
                    ng-class="{
                        'sort-asc': tableParams.isSortBy('updated_by', 'asc'),
                        'sort-desc': tableParams.isSortBy('updated_by', 'desc')
                    }"
                    ng-click="tableParams.sorting({'updated_by' : tableParams.isSortBy('updated_by', 'asc') ? 'desc' : 'asc'})"

                    >Last Modified by</th>
                    <th class="sortable" 
                    ng-class="{
                        'sort-asc': tableParams.isSortBy('updated', 'asc'),
                        'sort-desc': tableParams.isSortBy('updated', 'desc')
                    }"
                    ng-click="tableParams.sorting({'updated' : tableParams.isSortBy('updated', 'asc') ? 'desc' : 'asc'})"
                    >Last Modified on</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{active: classVal}" ng-repeat="switch in $data | filter : search">
                    <td class="hide">
                        <input type="checkbox" class="form-control chk chk-trans" ng-click="getChecked()" ng-checked="checkbox1">
                    </td>
                    <td>{{appServices.generateSeq(tableParams.page(), tableParams.count(), $index)}}</td>
                    <td>
                        <a href="javascript:void(0);" ng-click="viewSwitch(switch.id)">
                            {{switch.name}}
                        </a><br/>
                        <div class="row col-xs-12">
                            <span class="success">
                                <a href="javascript:void(0);"
                                ng-click="fetchSwitchStatus('booted_with_success',switch)"
                                tooltip="Boot Success"
                                tooltip-placement="bottom"
                                ng-class="{anchor_disabled: switch.booted_with_success == 0}">
                                <i class="circle_icon"></i>
                                {{switch.booted_with_success}}</a>
                            </span>
                            <span class="status-separator">|</span>
                            <span class="in_progress">
                                <a href="javascript:void(0);"
                                ng-click="fetchSwitchStatus('boot_in_progress',switch)"
                                tooltip="Boot In Progress"
                                tooltip-placement="bottom"
                                ng-class="{anchor_disabled: switch.boot_in_progress == 0}">
                                <i class="circle_icon"></i>
                                {{switch.boot_in_progress}}</a>
                            </span>
                            <span class="status-separator">|</span>
                            <span class="failure">
                                <a href="javascript:void(0);"
                                ng-click="fetchSwitchStatus('booted_with_fail',switch)"
                                tooltip="Boot Failure"
                                tooltip-placement="bottom"
                                ng-class="{anchor_disabled: switch.booted_with_fail == 0}">
                                <i class="circle_icon"></i>
                                {{switch.booted_with_fail}}</a>
                            </span>
                        </div>
                    </td>
                    <td>{{switch.base_model}}</td>
                    <td>
                        <span ng-repeat="tier_role in switch.switch_data.tiers">
                            {{tier_role}} 
                            <span ng-hide="$index == switch.switch_data.tiers.length - 1">,</span>
                        </span>
                    </td>
                    <td>{{switch.switch_info["1/10G"]}}</td>
                    <td>{{switch.switch_info["40G"]}}</td>
                    <td>{{switch.switch_info["100G"]}}</td>
                    <td>
                        <span ng-repeat="uplink in switch.switch_info.Uplink">
                            {{uplink}}
                            <span ng-hide="$index == switch.switch_info.Uplink.length - 1">,
                            </span>
                        </span>
                        <span ng-repeat="both_link in switch.switch_info.Both">
                            {{both_link}}
                            <span ng-hide="$index == switch.switch_info.Both.length - 1">,
                            </span>
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="downlink in switch.switch_info.Downlink">
                            {{downlink}}
                            <span ng-hide="$index == switch.switch_info.Downlink.length - 1">,
                            </span>
                        </span>
                        <span ng-repeat="both_link in switch.switch_info.Both">
                            {{both_link}}
                            <span ng-hide="$index == switch.switch_info.Both.length - 1">,
                            </span>
                        </span>
                    </td>
                    <td>{{switch.updated_by}}</td>
                    <td>{{switch.updated | date : appSettings.dateFormat}}</td>
                    <td>
                        <ul class="table_action_icons list-inline" ng-class="{'has-error' : !inputModel}">
                            <li>
                                <a href="javascript:void(0);"
                                ng-click="viewSwitch(switch.id, $index)"
                                tooltip="View Details"
                                tooltip-placement="bottom">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"
                                ng-click="editSwitch(switch.id, $index)"
                                tooltip="Edit" tooltip-placement="bottom">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"
                                ng-click="deleteSwitch(switch.id, $index)"
                                tooltip="Delete" tooltip-placement="bottom"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pull-right">
        <span class="success">
            <i class="circle_icon"></i> Boot Success
        </span>
        <span class="in_progress">
            <i class="circle_icon"></i> Boot In Progress
        </span>
        <span class="failure">
            <i class="circle_icon"></i> Boot Failure
        </span>
    </div>
</div>
