.modal-header {
    border-bottom: 0;
}
.modal-footer {
    clear: both;
    background-color: #f2f2f2;
}
.modal-body {
    clear: both;
    max-height: 500px;
    overflow: auto;
}
.modal-form-action {
   /* padding-top: 10px; */
    a {
        margin-right: 10px;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}
.modal-header, .modal-body, .modal-footer {
    padding: 20px 30px;
}
.modal-title {
    text-transform: uppercase;
    font-size: 18px;
}
.modal-subtitle {
    font-size: 17px;
}
.grid_label {
    margin-bottom: 0;
}